app__ecs_deploy__AWS_ACCOUNT_ID=
AWS_REGION=eu-central-1
AWS_REPO_NAME=pss-dev
ECS_TASK_FAMILY=pss-dev-backend
ECS_SERVICE_NAME=pss-dev-backend
ECS_CLUSTER_NAME=pss-dev
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
