name: ECS Deploy

on:
  push:
    branches: ['dev', 'main', 'example_branch']

env:
  STAGE: myapp-dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm

      - name: Install CLI tools
        run: npm i --location=global ecs-deploy-cli@poviolabs/ecs-deploy-cli#v3 slack-notify-cli@poviolabs/slack-notify-cli#v2 --force

      - name: Build image and deploy to ECR
        run: >-
          AWS_ACCESS_KEY_ID=${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY=${{secrets.AWS_SECRET_ACCESS_KEY}}
          STAGE=$STAGE
          RELEASE=$GITHUB_SHA
          ecs-deploy-cli build

      - name: Deploy built image to ECS
        run: >-
          AWS_ACCESS_KEY_ID=${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY=${{secrets.AWS_SECRET_ACCESS_KEY}}
          STAGE=$STAGE
          RELEASE=$GITHUB_SHA
          VERSION=$GITHUB_REF_NAME
          ecs-deploy-cli deploy

      - name: Slack message on success
        run: >-
          APP_VERSION=$GITHUB_REF_NAME
          SLACK_ACCESS_TOKEN=${{secrets.SLACK_BOT_TOKEN}}
          BUILD_URL=${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
          slack-notify-cli --messageType success

      - name: Slack message on failure
        if: ${{ failure() }}
        run: >-
          APP_VERSION=$GITHUB_REF_NAME
          SLACK_ACCESS_TOKEN=${{secrets.SLACK_BOT_TOKEN}}
          BUILD_URL=${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
          slack-notify-cli --messageType failure
